<footer [ngClass]="{'megjelenik': lathatoLablec}">
   <div class="footer-oszlop">
       <strong>Cím:</strong> 1234 Budapest, Divat utca 1. <i class="bi bi-geo-alt-fill"></i><br>
       <strong>Nyitvatartás:</strong> H-P 9:00 - 18:00 <i class="bi bi-clock-fill"></i>
   </div>
   <div class="footer-oszlop">
       <strong>Kapcsolat: </strong> <a href="mailto:info@divatpalota.hu">info@divatpalota.hu </a> <i class="bi bi-envelope-fill"></i><br>
       <strong>Telefon: </strong> <a href="tel:+3612345678">+36 1 234 5678 </a><i class="bi bi-telephone-fill"></i>
   </div>
</footer>