<div class="bejelentkezes-container">
    <h2 class="bejelentkezes-title">Bejelentkezés</h2>
    <form (ngSubmit)="onSubmit()">
        <input type="text" class="bejelentkezes-input" placeholder="Felhasználónév" [(ngModel)]="username" name="username" required>
        <div *ngIf="usernameError" class="error-message">{{ usernameError }}</div>

        <input type="password" class="bejelentkezes-input" placeholder="Jelszó" [(ngModel)]="password" name="password" required>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>

        <button type="submit" class="bejelentkezes-button">Bejelentkezés</button>

        <div *ngIf="generalError" class="error-message">{{ generalError }}</div>
    </form>
    <app-footer></app-footer>
</div>
