<div class="bejelentkezes-container">
  <h2 class="bejelentkezes-cim">Bejelentkezés</h2>
  <form (ngSubmit)="onSubmit()">
    <div *ngIf="hibaUzenet" class="hiba-uzenet">{{ hibaUzenet }}</div>

    <label for="azonosito">Felhasználónév vagy E-mail: <span class="required">*</span></label>
    <input type="text" class="bejelentkezes-input" placeholder="Felhasználónév vagy E-mail" [(ngModel)]="azonosito" name="azonosito" required>

    <label for="jelszo">Jelszó: <span class="required">*</span></label>
    <input type="password" class="bejelentkezes-input" placeholder="Jelszó" [(ngModel)]="jelszo" name="jelszo" required>

    <button type="submit" class="bejelentkezes-gomb" [disabled]="betoltesFolyamatban">
      {{ betoltesFolyamatban ? 'Bejelentkezés...' : 'Bejelentkezés' }}
    </button>
  </form>

  <p class="belepes-link">
    Elfelejtetted a jelszavadat? <a routerLink="/elfelejtett-jelszo">Kattints ide</a>
  </p>
  <p class="belepes-link">
    Még nincs fiókod? <a routerLink="/regisztracio">Regisztrálj itt</a>
  </p>
</div>
