<div class="registration-container">
    <h2 class="registration-title">Regisztráció</h2>
    <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
    
    <label for="vezeteknev">Vezetéknév</label>
    <input type="text" id="vezeteknev" class="registration-input" placeholder="Írd be a vezetékneved" [(ngModel)]="user.lastName" name="lastName" required/>

    <label for="keresztnev">Keresztnév</label>
    <input type="text" id="keresztnev" class="registration-input" placeholder="Írd be a keresztneved" [(ngModel)]="user.firstName" name="firstName" required/>

    <label for="felhasznalonev">Felhasználónév</label>
    <input type="text" id="felhasznalonev" class="registration-input" placeholder="Válassz egy felhasználónevet" [(ngModel)]="user.username" name="username" required/>

    <label for="jelszo">Jelszó</label>
    <input type="password" id="jelszo" class="registration-input" placeholder="Adj meg egy erős jelszót" [(ngModel)]="user.password" name="password" required/>

    <label for="szuletesi_datum">Születési dátum</label>
    <input type="date" id="szuletesi_datum" class="registration-input date-input" [(ngModel)]="user.birthDate" name="birthDate" required/>

    <label for="email_cim">Email cím</label>
    <input type="email" id="email_cim" class="registration-input" placeholder="Írd be az email címed" [(ngModel)]="user.email" name="email" required/>

    <label for="telefonszam">Telefonszám</label>
    <input type="text" id="telefonszam" class="registration-input" placeholder="Írd be a telefonszámod" [(ngModel)]="user.phone" name="phone" required/>

    <label for="lakcim">Lakcím</label>
    <input type="text" id="lakcim" class="registration-input" placeholder="Írd be a lakcímed" [(ngModel)]="user.address" name="address" required/>

    <label for="nem">Nem</label>
    <select id="nem" class="registration-input" [(ngModel)]="user.gender" name="gender" required> 
        <option value="" disabled selected>Válaszd ki a nemed</option>
        <option value="ferfi">Férfi</option>
        <option value="no">Nő</option>
        <option value="egyeb">Egyéb</option>
    </select>

    <button type="submit" class="registration-button">Regisztrálás</button>
</form>

<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<app-footer></app-footer>
</div>
