nav {
  background-color: #444; 
  border-radius: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.cim {
  pointer-events: none;
  color: white;
  cursor: default;
}

.jobbra {
  margin-left: auto;
  display: flex;
}

nav a {
  border-radius: 10px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

nav a:hover {
  background-color: rgb(143, 145, 143);
  cursor: url("src/assets/hover-cursor.png") 0 0, pointer;
  transform: scale(1.05);
}

nav li {
  position: relative;
}

nav li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.5s ease;
}

.dropdown {
  position: absolute;
  visibility: hidden;
  background-color: #444;
  border-radius: 10px;
  padding: 0;
  z-index: 1000;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease;
  top: 100%;
  flex-direction: column;
  width: 100%;
}

.dropdown li {
  display: block;
}

.dropdown a {
  padding: 8px 12px;
  margin: 0;
  width: 100%;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  box-sizing: border-box;
}

.dropdown a i {
  padding-right: 0;
}

.dropdown li:hover a {
  cursor: url("src/assets/hover-cursor.png") 0 0, pointer;
  background-color: rgb(143, 145, 143);
}
