/* Navigációs sáv design */
nav {
  background-color: #444;
  border-radius: 10px;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

.cim {
  pointer-events: none;
  color: white;
  cursor: default;
}

nav li:last-child {
  float: right;
}

nav a {
  border-radius: 10px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

nav a:hover {
  background-color: rgb(143, 145, 143);
  border-radius: 10px;
  cursor: url("src/assets/hover-cursor.png") 0 0, pointer;
  transform: scale(1.05);
}

.dropdown {
  position: absolute;
  visibility: hidden;
  height: 0;
  background-color: #444;
  border-radius: 10px;
  padding: 0;
  z-index: 1000;
  opacity: 0;
  transition: visibility 0s linear 0.5s, height 0.5s ease, opacity 0.5s ease;
}

nav li:hover .dropdown {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: visibility 0s linear 0s, height 0.5s ease, opacity 0.5s ease;
}

.dropdown li {
  float: none;
}

.dropdown a {
  padding: 10px;
  margin: 0;
  width: 100%;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.dropdown a i {
  padding-right: 0px;
}

.dropdown li:hover a {
  cursor: url("src/assets/hover-cursor.png") 0 0, pointer;
  background-color: rgb(143, 145, 143);
  border-radius: 10px;
  transform: scale(1.05);
}

.dropdown a:hover {
  cursor: url("src/assets/hover-cursor.png") 0 0, pointer;
  background-color: rgb(143, 145, 143);
  transform: scale(1.05);
}

.active {
  background-color: #6b6a6a;
  border-radius: 10px;
  cursor: pointer;
}