<nav>
  <ul>
      <li><a class="cim">DivatPalota</a></li>
      <li class="active"><a routerLink="/home">Kezdőlap <i class="bi bi-house-fill"></i></a></li>
      <li>
          <a href="#">Ruhák <i class="fas fa-tshirt"></i></a>
          <ul class="dropdown">
              <li><a href="#">Ruházat 1 <i class="bi bi-tag-fill"></i></a></li>
              <li><a href="#">Ruházat 2 <i class="bi bi-tag-fill"></i></a></li>
              <li><a href="#">Ruházat 3 <i class="bi bi-tag-fill"></i></a></li>
          </ul>
      </li>
      <li><a routerLink="/akciok">Akciók <i class="bi bi-percent"></i></a></li>
      <li><a routerLink="/adomanyok">Adományok <i class="bi bi-gift-fill"></i></a></li>
      <li><a routerLink="/registracio">Bejelentkezés / Regisztráció <i class="bi bi-person-fill"></i></a></li>
  </ul>
</nav>