.rendelesek-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 12px;
}

/* Cím */
.rendelesek-cim {
  text-align: center;
  color: #d0d0d0;
}

/* Rendelés rész stílusa */
.rendeles-tablazat {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 12px;
  overflow: hidden;
}

.rendeles-tablazat th,
.rendeles-tablazat td {
  border: 1px solid #444;
  padding: 12px;
  text-align: center;
  color: #d0d0d0;
  font-size: 1.3rem;
}

.rendeles-tablazat th {
  background-color: rgba(30, 30, 30, 0.7);
}

.rendeles-tablazat tr:nth-child(even) {
  background-color: rgba(60, 60, 60, 0.8);
}

.rendeles-tablazat tr:hover {
  background-color: rgba(75, 75, 75, 0.8);
  transition: 0.3s;
}

.rendeles-datum {
  color: #c7c7c7;
  text-align: center;
  width: 30%;
}

.rendeles-reszletek {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PDF gomb */
.pdf-megnyitas-gomb {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

.pdf-megnyitas-gomb:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  cursor: url("../../assets/hover-cursor.png") 0 0, auto;
}

/* Nincs elem */
.nincs-elem {
  text-align: center;
  color: whitesmoke;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nincs-elem p {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

/* Hibaüzenet */
.hiba-uzenet {
  color: white;
  font-size: 14px;
  background: #e57373;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 12px;
}
