<div class="elfelejtett-jelszo-container">
    <h2 class="elfelejtett-jelszo-cim" *ngIf="helyreallitasLathato">Elfelejtett Jelszó</h2>
    
    <form *ngIf="helyreallitasLathato" (ngSubmit)="jelszoHelyreallit()">
        <div *ngIf="hibaUzenet" class="hiba-uzenet">{{ hibaUzenet }}</div>

        <label for="azonosito">Felhasználónév vagy E-mail cím: <span class="required">*</span></label>
        <input type="text" class="elfelejtett-jelszo-input" placeholder="Írd be a felhasználóneved vagy e-mail címed" [(ngModel)]="azonosito" name="azonosito" required>

        <label for="biztonsagi_kerdes">Biztonsági kérdés: <span class="required">*</span></label>
        <input type="text" class="elfelejtett-jelszo-input" placeholder="Írd be a biztonsági kérdést" [(ngModel)]="biztonsagi_kerdes" name="biztonsagi_kerdes" required>

        <label for="biztonsagi_valasz">Válasz: <span class="required">*</span></label>
        <input type="text" class="elfelejtett-jelszo-input" placeholder="Írd be a válaszod" [(ngModel)]="biztonsagi_valasz" name="biztonsagi_valasz" required>

        <button type="submit" class="elfelejtett-jelszo-gomb">Jelszó Visszaállítása</button>
    </form>
    
    <div *ngIf="!helyreallitasLathato" class="jelszo-modositas-container">
        <h3>Jelszó Módosítása</h3>
        <form (ngSubmit)="jelszoModosit()">
            <div *ngIf="hibaUzenet" class="hiba-uzenet">{{ hibaUzenet }}</div>

            <label for="jelszo">Új Jelszó: <span class="required">*</span>
                <span class="infogomb" (mouseenter)="tooltipMegjelenites = true" (mouseleave)="tooltipMegjelenites = false">ℹ️</span>
                <div *ngIf="tooltipMegjelenites" class="tooltip">
                    A jelszónak legalább 8 karakter hosszúnak kell lennie, tartalmaznia kell kis- és nagybetűket, számot, és speciális karaktert (pl. @$!%*?&).
                </div>
            </label>
            <input type="password" class="elfelejtett-jelszo-input" placeholder="Írd be az új jelszót" [(ngModel)]="jelszo" name="jelszo" required>

            <label for="jelszo_ismet">Új Jelszó Megerősítése: <span class="required">*</span></label>
            <input type="password" class="elfelejtett-jelszo-input" placeholder="Megerősítés" [(ngModel)]="jelszo_ismet" name="jelszo_ismet" required>

            <button type="submit" class="elfelejtett-jelszo-gomb">Jelszó Módosítása</button>
        </form>
    </div>
    
    <p class="belepes-link">
        Vissza a <a routerLink="/bejelentkezes">bejelentkezéshez</a>
    </p>
</div>
