<div class="rendelesek-container">
    <h2 class="rendelesek-cim">Megrendelések</h2>
  
    <div *ngIf="rendelesek.length === 0" class="nincs-elem">
        <p>Nincsenek rendelései.</p>
    </div>
  
    <table *ngIf="rendelesek.length > 0" class="rendeles-tablazat">
        <thead>
            <tr>
                <th>Dátum</th>
                <th>Megrendelő neve</th>
                <th>Összesen</th>
                <th>Művelet</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rendeles of rendelesek">
                <td class="rendeles-datum">{{ rendeles.datum | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ rendeles.vasarloNev }}</td>
                <td>{{ rendeles.osszeg }} HUF</td>
                <td>
                    <div class="rendeles-reszletek">
                        <button (click)="megnyitPDF(rendeles)" class="pdf-megnyitas-gomb">
                            PDF megnyitása
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
