/* Rendeles űrlap */
.rendeles-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(50, 50, 50, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #d0d0d0;
}

/* Rendeles űrlap címe */
.rendeles-container h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

/* Rendeles elemek listája */
.rendeles-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.rendeles-elem {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(38, 38, 38, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Páratlan elem elrendezése */
.rendeles-lista > .rendeles-elem:nth-child(odd):last-child {
  grid-column: span 2;
  justify-self: center;
  min-width: 370px;
}

.rendeles-elem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.kiszallito-ceg {
  margin-bottom: 20px;
  border-radius: 5px;
}

.kiszallito-ceg h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #d0d0d0;
}

.kiszallito-ceg label {
  display: block;
  margin-bottom: 5px;
  color: #d0d0d0;
}

.kiszallito-ceg select {
  width: 100%;
  padding: 9px;
  margin-bottom: 14px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgba(38, 38, 38, 0.95);
  color: white;
  transition: border-color 0.2s ease-in-out;
}

.kiszallito-ceg select:hover {
  border-color: #1a75ff;
}

/* Termék neve */
.termek-nev {
  font-weight: bold;
  color: #d0d0d0;
  margin-bottom: 5px;
  text-align: center;
}

/* Termék mennyisége */
.termek-mennyiseg {
  color: #aaa;
  margin-bottom: 5px;
  text-align: center;
}

/* Termék ára */
.termek-ar {
  color: #e67e22;
  font-weight: bold;
  text-align: center;
}

/* PDF letöltés gomb */
.kupon-gomb, .pdf-gomb {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

.kupon-gomb:hover, .pdf-gomb:hover {
  background-color: #0056b3;
  transform: scale(1.02);
  cursor: url("../../assets/hover-cursor.png") 0 0, auto;
}

/* Végösszeg stílus */
.osszesen {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px;
  font-size: 1.2rem;
  color: #e67e22;
  font-weight: bold;
}

/* Ha nincs elem */
.nincs-elem {
  text-align: center;
  color: whitesmoke;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nincs-elem p {
  font-size: 1.2rem;
  margin: 0;
}

/* Beviteli mezők */
.regisztracio-input {
  width: 100%;
  padding: 9px;
  margin-bottom: 14px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgba(38, 38, 38, 0.95);
  color: white;
  transition: border-color 0.2s ease-in-out;
}

.regisztracio-input:hover {
  border-color: #1a75ff;
}

.regisztracio-input::placeholder {
  color: #aaa;
}

/* Kötelező mezők */
.required {
  color: red;
}

/* Kuponkód szekció */
.kupon-kod {
  border-radius: 10px;
  margin-top: 20px;
  color: #d0d0d0;
}

.kupon-kod h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #d0d0d0;
}

/* Kuponkód beviteli mező */
.kupon-kod input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgba(38, 38, 38, 0.95);
  color: white;
  transition: border-color 0.2s ease-in-out;
}

.kupon-kod input[type="text"]::placeholder {
  color: #aaa;
}

.kupon-kedvezmeny-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.kupon-kod-text {
  text-align: left;
  color: #d0d0d0;
}

.kedvezmeny-text {
  text-align: right;
  color: #d0d0d0;
}

/* Hibaüzenet */
.hiba-uzenet {
  color: white;
  font-size: 14px;
  background: #e57373;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 12px;
}

.hiba-uzenet::before {
  content: "⚠ ";
  font-weight: bold;
}

/* Reszponzivitás beállítása */
@media (max-width: 768px) {
  .rendeles-container {
    padding: 15px;
  }

  .rendeles-container h1 {
    font-size: 2rem;
  }

  .osszesen {
    font-size: 1rem;
  }

  .pdf-gomb {
    font-size: 14px;
  }
}
