<main>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="top">
      <div class="top-left">
        <p>Üdvözöljük a DivatPalota webáruházban! Célunk, hogy a legfrissebb trendeket és stílusos ruhákat kínáljuk minden divatkedvelő számára.</p>
        <p>Szakértő csapatunk mindig készen áll, hogy segítsen Önnek megtalálni a tökéletes darabot. Fedezze fel velünk a divat világát!</p>
      </div>
      <div class="top-right">
        Információk ruháinkról
        <p>Az akciók a ruhákra naponta megtalálhatóak az oldalunkon.</p>
        <img src="assets/négyévszak.jpg" class="season">
      </div>
    </div>
    
    <div class="bottom">
      <div class="bottom-left">
        <app-slideshow></app-slideshow>
      </div>
      <div class="bottom-right">
        <p>Üdvözöljük az Adományozás oldalunkon! Célunk, hogy támogassuk a rászorulókat és közösségi projekteket.</p>
        <ul>
          <li>Anyagi támogatás: Bármilyen összegű adományt örömmel fogadunk.</li>
          <li>Termékadomány: Ruha, játék vagy egyéb szükséges dolgok adományozása is segíthet.</li>
          <li>Önkéntesség: Csatlakozhat csapatunkhoz.</li>
        </ul>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
