<app-navbar></app-navbar>
<main>
  <router-outlet></router-outlet>

  <div class="container" *ngIf="isHomePage()">
    <div class="top">
      <div class="top-left">
        <p>Üdvözlünk a DivatPalota webáruházban! Itt mindig a legújabb trendeket találod, és segítünk, hogy a stílusod mindig tökéletes legyen.</p>
        <p>Ha bármiben tanácsra van szükséged, fordulj hozzánk bizalommal – csapatunk örömmel segít neked!</p>
      </div>
      <div class="top-right">
        <h2>Információk ruháinkról</h2>
        <p>Akcióink naponta frissülnek, nézz vissza gyakran, hogy ne maradj le a legjobb ajánlatokról!</p>
        <img src="assets/négyévszak.jpg" alt="Divatos ruhák minden évszakra" class="season">
      </div>
    </div>
    
    <div class="bottom">
      <div class="bottom-left">
        <app-slideshow></app-slideshow>
      </div>
      <div class="bottom-right">
        <h2>Csatlakozz az Adományozás programunkhoz!</h2>
        <p>Segítsünk együtt a rászorulóknak. Íme néhány mód, ahogyan te is hozzájárulhatsz:</p>
        <ul>
          <li><strong>Anyagi támogatás:</strong> Minden kis összeg számít, és óriási segítség lehet.</li>
          <li><strong>Termékadomány:</strong> Ruhák, játékok, vagy bármilyen hasznos dolog örömmel fogadott.</li>
          <li><strong>Önkéntesség:</strong> Légy a csapatunk tagja, és vegyél részt közösségi projektjeinkben.</li>
        </ul>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
