<div class="container">
    <h1>Ingek Katalógusa</h1>

    <div class="szuro-vezerlok">
        <div class="rendezes-csoport">
            <label for="marka">Márka:</label>
            <select id="marka" [(ngModel)]="kivalasztottMarka" (ngModelChange)="szures()">
                <option value="">Összes</option>
                <option *ngFor="let marka of markak" [value]="marka">{{ marka }}</option>
            </select>
        </div>

        <div class="rendezes-csoport">
            <label for="meret">Méret:</label>
            <select id="meret" [(ngModel)]="kivalasztottMeret" (ngModelChange)="szures()">
                <option value="">Összes</option>
                <option *ngFor="let meret of meretek" [value]="meret">{{ meret }}</option>
            </select>
        </div>

        <div class="rendezes-csoport">
            <label for="anyag">Anyag:</label>
            <select id="anyag" [(ngModel)]="kivalasztottAnyag" (ngModelChange)="szures()">
                <option value="">Összes</option>
                <option *ngFor="let anyag of anyagok" [value]="anyag">{{ anyag }}</option>
            </select>
        </div>

        <div class="rendezes-csoport">
            <label for="szin">Szín:</label>
            <select id="szin" [(ngModel)]="kivalasztottSzin" (ngModelChange)="szures()">
                <option value="">Összes</option>
                <option *ngFor="let szin of szinek" [value]="szin">{{ szin }}</option>
            </select>
        </div>

        <div class="rendezes-csoport">
            <label for="nem">Nem:</label>
            <select id="nem" [(ngModel)]="kivalasztottNem" (ngModelChange)="szures()">
                <option value="">Összes</option>
                <option *ngFor="let nem of nemek" [value]="nem">{{ nem }}</option>
            </select>
        </div>

        <div class="rendezes-csoport">
            <label for="ar">Ár:</label>
            <button class="gomb gomb-arlapozo" 
                    (click)="csokkentAr()" 
                    (mousedown)="arCsokkenteseInditas()" 
                    (mouseup)="arValtoztatasLeallitas()" 
                    (mouseleave)="arValtoztatasLeallitas()">-</button>
            <input type="range" id="ar" [(ngModel)]="kivalasztottAr" (input)="szures()" [min]="minAr" [max]="maxAr" />
            <button class="gomb gomb-arlapozo" 
                    (click)="novelAr()" 
                    (mousedown)="arNoveleseInditas()" 
                    (mouseup)="arValtoztatasLeallitas()" 
                    (mouseleave)="arValtoztatasLeallitas()">+</button>
            <span>{{ kivalasztottAr }} Ft</span>
        </div>

        <div class="rendezes-csoport">
            <label for="rendezes">Rendezés:</label>
            <select id="rendezes" [(ngModel)]="kivalasztottRendezes" (change)="rendezesAlapjan()">
                <option value="alap">Alapértelmezett</option>
                <option value="abcNovekvo">ABC sorrend növekvő</option>
                <option value="abcCsokkeno">ABC sorrend csökkenő</option>
                <option value="arNovekvo">Ár szerint növekvő</option>
                <option value="arCsokkeno">Ár szerint csökkenő</option>
                <option value="meretNovekvo">Méret szerint növekvő</option>
                <option value="meretCsokkeno">Méret szerint csökkenő</option>
                <option value="szinNovekvo">Szín szerint növekvő</option>
                <option value="szinCsokkeno">Szín szerint csökkenő</option>
            </select>
        </div>
    </div>

    <div class="grid">
        <div class="elem" *ngFor="let ing of szurtIngekLista; let i = index">
            <img [src]="ing.kep_url" alt="{{ ing.marka }} - {{ ing.leiras }}" title="{{ ing.marka }} - {{ ing.leiras }}" />
            <p><strong>{{ ing.marka }}</strong> - {{ ing.leiras }}</p>
            <p><strong>Ár:</strong> {{ ing.ar }} Ft</p>
            <p><strong>Méret:</strong> {{ ing.meret }}</p>
            <p><strong>Anyag:</strong> {{ ing.anyag }}</p>
            <p><strong>Szín:</strong> {{ ing.szin }}</p>
            <p><strong>Nem:</strong> {{ ing.nem }}</p>
            <div *ngIf="bejelentkezve; else bejelentkezesUzenet">
                <button class="gomb gomb-kosarba" (click)="kosarhozAd(ing)">Kosárba rakás</button>
            </div>
            <ng-template #bejelentkezesUzenet>
                <p class="bejelentkezes-uzenet">A vásárláshoz jelentkezzen be!</p>
            </ng-template>
        </div>
    </div>

    <div *ngIf="!szurtIngekLista.length" class="nincs-elem">
        <p>Nincsenek elérhető pólók!</p>
    </div>
</div>
